<section>
  <h2 class="text-center m-3">Lista de Tarefas</h2>
  <div class="lista-tarefas p-2" *ngFor="let tarefa of listaTarefas">
    <div class="border-bottom d-flex justify-content-between align-items-center">
      <div>
        <a [routerLink]="['/detalhe', tarefa.id ]">{{ tarefa.nome }}</a>
        <strong> - Completo: {{ tarefa.completo ? 'Sim' : 'Não'}}</strong>
      </div>
      <div>
        <app-status-tarefas [tarefa]="tarefa"></app-status-tarefas>
        <app-excluir-tarefas class="ml-2" [tarefa]="tarefa"></app-excluir-tarefas>
      </div>
    </div>
  </div>
</section>